<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_BASE" value="${LOG_PATH}" />
    <property name="patternNologger"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%level]: [%thread] - %msg%n" />
    <property name="defaultPattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%level]: [%thread] - %logger{36} - %msg%n" />
    <property name="ofoPattern"
              value="%msg%n" />

    <appender name="request" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASE}/request.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_BASE}/request.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <!-- keep 180 days' worth of history capped at 10GB total size -->
            <maxHistory>180</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>

        </rollingPolicy>
        <encoder>
            <pattern>${patternNologger}</pattern>
        </encoder>
    </appender>

    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASE}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_BASE}/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <!-- keep 180 days' worth of history capped at 10GB total size -->
            <maxHistory>180</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>

        </rollingPolicy>
        <encoder>
            <pattern>${patternNologger}</pattern>
        </encoder>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASE}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_BASE}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <!-- keep 180 days' worth of history capped at 10GB total size -->
            <maxHistory>180</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>

        </rollingPolicy>
        <encoder>
            <pattern>${patternNologger}</pattern>
        </encoder>
    </appender>

    <appender name="warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASE}/warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_BASE}/warn.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <!-- keep 180 days' worth of history capped at 10GB total size -->
            <maxHistory>180</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>

        </rollingPolicy>
        <encoder>
            <pattern>${patternNologger}</pattern>
        </encoder>
    </appender>

    <appender name="debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASE}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_BASE}/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <!-- keep 180 days' worth of history capped at 10GB total size -->
            <maxHistory>180</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>

        </rollingPolicy>
        <encoder>
            <pattern>${patternNologger}</pattern>
        </encoder>
    </appender>

    <appender name="lib" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASE}/lib.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_BASE}/lib.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <!-- keep 180 days' worth of history capped at 10GB total size -->
            <maxHistory>180</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>

        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <appender name="ofo-ssh-login" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/data/log/qt_ssh_login.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/log/qt_ssh_login_%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${ofoPattern}</pattern>
        </encoder>
    </appender>

    <appender name="ofo-process-created" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/data/log/qt_pro_create.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/log/qt_pro_create_%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${ofoPattern}</pattern>
        </encoder>
    </appender>

    <appender name="ofo-network-connected" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/data/log/qt_connect.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/log/qt_connect_%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${ofoPattern}</pattern>
        </encoder>
    </appender>

    <logger name="warn" level="WARN" additivity="false">
        <appender-ref ref="warn" />
    </logger>

    <logger name="debug" level="DEBUG" additivity="false">
        <appender-ref ref="debug" />
    </logger>

    <logger name="request" level="INFO" additivity="false">
        <appender-ref ref="request" />
    </logger>

    <logger name="info" level="INFO" additivity="false">
        <appender-ref ref="info" />
    </logger>

    <logger name="error" level="ERROR" additivity="false">
        <appender-ref ref="error" />
    </logger>

    <logger name="ofo-ssh-login" level="INFO" additivity="false">
        <appender-ref ref="ofo-ssh-login" />
    </logger>

    <logger name="ofo-process-created" level="INFO" additivity="false">
        <appender-ref ref="ofo-process-created" />
    </logger>

    <logger name="ofo-network-connected" level="INFO" additivity="false">
        <appender-ref ref="ofo-network-connected" />
    </logger>

    <root level="info">
        <appender-ref ref="lib" />
    </root>
</configuration>